# Python Loops Practice - 50 exercises

This notebook contains **50 exercises** focused on mastering `for`, `while`, and `nested loops` in Python.

ðŸ”¹ The exercises (only problems) were generated by ChatGPT and are graded across an easy-to-hard difficulty spectrum.

ðŸ”¹ The exercises were primarily solved through my own efforts, with supplementary assistance from DeepSeek AI on a few select problems.


---

### 1. Print numbers from 1 to 10 using a for loop.

In [1]:
for n in range(1, 11):
    print(n, end=' ')

1 2 3 4 5 6 7 8 9 10

### 2. Print all even numbers between 1 and 50.

In [3]:
# solution-1

for num in range(1, 51):
    if num % 2 == 0:
        print(num, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [2]:
# solution-2

for num in range(2, 51, 2):
    print(num, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

### 3. Print the multiplication table of 5.

In [5]:
# solution-1

for i in range(1, 6):
    print(' '.join(f'{i*j:>2}' for j in range(1, 6)))

 1  2  3  4  5
 2  4  6  8 10
 3  6  9 12 15
 4  8 12 16 20
 5 10 15 20 25

In [ ]:
# solution-2

for i in range(1, 6):
    for j in range(1, 6):
        print(f'{i*j:>2}', end=' ')
    print('')

 1  2  3  4  5
 2  4  6  8 10
 3  6  9 12 15
 4  8 12 16 20
 5 10 15 20 25

### 4. Print the square of each number from 1 to 10.

In [ ]:
# solution-1

for n in range(1, 11):
    print(n**2, end=' ')

1 4 9 16 25 36 49 64 81 100

In [9]:
# solution-2 (list)

print([n**2 for n in range(1, 11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 5. Print all the elements in a list using a for loop.

In [14]:
lst = [1, 3, 5, 7, 9]
for ele in lst:
    print(ele, end=' ')

1 3 5 7 9

### 6. Sum all the numbers in a list using a for loop.

In [15]:
# solution-1 (using loop)

lst = [1, 3, 5, 7, 9]
total = 0
for ele in lst:
    total += ele
print(total)

25

In [17]:
# solution-2 (sum function)

total = sum(lst)
total

25

### 7. Find the maximum number in a list using a loop.

In [19]:
# solution-1 (using loop)

lst = [11, 3, 25, 37, 19]
max_num = 0

for ele in lst:
    if ele > max_num:
        max_num = ele
print(max_num)

37

In [20]:
# solution-2 (max function)

max_n = max(lst)
max_n

37

### 8. Count how many times a specific character appears in a string.

In [25]:
# solution-1 (using loop)

text = 'Data science is fun!'
spec_char = 's'
char_count = 0

for char in text.lower():
    if char == spec_char:
        char_count += 1
print(char_count)

2

In [24]:
# solution-2 (using .count())

c_count = text.count(spec_char)
c_count

2

### 9. Loop through a string and print only vowels.

In [33]:
# solution-1

vowel_set = {'a', 'e', 'i', 'o', 'u'}
text = 'Data is new oil'

for char in text:
    if char in vowel_set:
        print(char, end=' ')

a a i e o i

In [36]:
# solution-2

print(*[c for c in text if c in vowel_set])

a a i e o i

### 10. Reverse a string using a for loop.

In [40]:
text = 'Pyhtonism'
reversed_text = ''

for char in text:
    reversed_text = char + reversed_text

print(reversed_text)

msinothyP

### 11. Print numbers from 1 to 10 using a while loop.

In [42]:
n = 1
while n < 11:
    print(n, end=' ')
    n += 1

1 2 3 4 5 6 7 8 9 10

### 12. Count down from 10 to 1.

In [43]:
count_down = 10

while count_down > 0:
    print(count_down)
    count_down -= 1

10
9
8
7
6
5
4
3
2
1

### 13. Find the factorial of a number using a while loop.

In [44]:
num = 5
fact = 1
while num > 1:
    fact *= num
    num -= 1
print(fact)

120

### 14. Prompt user input until they type 'exit'.

In [2]:
while True:
    user_input = input('Type "exit" to exit!')
    if user_input.lower().strip() == 'exit':
        break
print('\nSuccessfully exited!')

Successfully exited!

### 15. Print all even numbers less than 20 using while.

In [1]:
num = 0

while num < 20:
    if num % 2 == 0:
        print(num, end=' ')
    num += 1

0 2 4 6 8 10 12 14 16 18

### 16. Generate a Fibonacci sequence up to 100 using a while loop.

In [ ]:
#solution-1: (by storing temp_num_1 and without zero) 

num_1, num_2 = 0, 1

while num_2 <= 100:
    print(num_2, end=', ')
    temp_num_1 = num_2
    num_2 = num_1 + num_2
    num_1 = temp_num_1

1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89,

In [ ]:
#solution-2: (without storing temp_num_1 and starting with zero) 

num_1, num_2 = 0, 1

while num_1 <= 100:
    print(num_1, end=', ')
    num_1, num_2 = num_2, num_2 + num_1

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89,

### 17. Keep asking for a password until it matches the correct one.

In [3]:
correct_password = "Python@Pass123"

while True:
    input_password = input('Enter Password: ')
    if input_password == correct_password:
        print('\nCongrats! Password is correct!')
        break
    else:
        print('\nWrong password! Try again!\n')

Enter Password:  hello

Wrong password! Try again!

Enter Password:  Python@Pass123

Congrats! Password is correct!

### 18. Count the number of digits in a number using while loop.

In [4]:
num = 128157
digit_count = 0

while num > 0:
    num = num // 10
    digit_count += 1
print(digit_count)

6

### 19. Sum digits of a number using a while loop.

In [2]:
def sum_digits(num):
    total = 0
    while num > 0:
        last_digit = num % 10
        total += last_digit
        num = num // 10
    return total

sum_digits(1234)

10

### 20. Find the smallest divisor (other than 1) of a number using while loop.

In [9]:
def find_smallest_divisor(num):
    if num < 2:
        return None
    d = 2
    while d <= int(num**0.5):
        if num % d == 0:
            return d
        d += 1
    return num
        
find_smallest_divisor(15)

3

### 21. Print a 5x5 square using '*' character.

In [23]:
for i in range(5):
    print(5 * '*')

*****
*****
*****
*****
*****

### 22. Print the following triangle:
    *
    **
    ***
    ****
    *****

In [24]:
for _ in range (1, 6):
    print(_ * '*')

*
**
***
****
*****

### 23. Print a multiplication table from 1 to 5.

In [31]:
for i in range(1, 6):
    print(' '.join(f'{i * j:2}' for j in range(1, 6)))

 1  2  3  4  5
 2  4  6  8 10
 3  6  9 12 15
 4  8 12 16 20
 5 10 15 20 25

### 24. Print a right-aligned triangle pattern of height 5.

In [11]:
# solution-1 (using f-string)

print('\n'.join(f'{i*"*":>5}' for i in range(1, 6)))

    *
   **
  ***
 ****
*****

In [10]:
# solution-2

for _ in range(1, 6):
    print(' ' * (5 - _) + '*' * _)

    *
   **
  ***
 ****
*****

### 25. Count how many times an element appears in a 2D list.

In [60]:
# works only for 2D list

def count_an_element(lst, ele):
    count_ele = 0
    for i in lst:
        for j in i:
            if j == ele:
                count_ele += 1
    return count_ele

my_lst = [[2, 5, 1], [4, 5, 3], [5, 1, 5]]

count_an_element(my_lst, 5)

4

In [ ]:
# works for multi-dimensional (1D/2D/nD) list

def count_an_element(lst, ele):
    count_ele = 0
    for i in lst:
        if isinstance(i, list):
            count_ele += count_an_element(i, ele)
        elif i == ele:
            count_ele += 1
    return count_ele

my_lst = [[2, 5, 1], [4, 5, 3], [5, 9, 5]]

count_an_element(my_lst, 5)

4

### 26. Flatten a 2D list into a 1D list.

In [65]:
def flatten_list (lst):
    return [i for sublst in lst for i in sublst]

my_list = [[2, 5, 1], [4, 5, 3], [5, 9, 5]]

flatten_list(my_list)

[2, 5, 1, 4, 5, 3, 5, 9, 5]

### 27. Print all unique pairs from a list using nested loops.

In [68]:
lst = [2, 5, 1, 4, 3]

for i in range(len(lst)):
    for j in range(i+1, len(lst)):
        print(f'{lst[i], lst[j]}' )

(2, 5)
(2, 1)
(2, 4)
(2, 3)
(5, 1)
(5, 4)
(5, 3)
(1, 4)
(1, 3)
(4, 3)

### 28. Create a pattern of alternating 1s and 0s (5 columns, 3 rows).

In [13]:
for i in range(1,4):
    for j in range(5):
        print((i + j) % 2, end=' ')
    print('')

1 0 1 0 1
0 1 0 1 0
1 0 1 0 1

### 29. Print only the diagonal elements of a 2D list.

In [14]:
lst = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
    ]

for i in range(len(lst)):
    print(lst[i][i], end=' ')

1 5 9

### 30. Create a multiplication table (10x10) with formatting.

In [77]:
for i in range(1, 11):
    print(' '.join(f'{i*j:3}' for j in range(1, 11)))

  1   2   3   4   5   6   7   8   9  10
  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90
 10  20  30  40  50  60  70  80  90 100

### 31. Given a list of student scores, print all scores above 90.

In [80]:
scores = [87, 98, 82, 92, 95, 88, 91]

for item in scores:
    if item > 90:
        print(item, end=' ')

98 92 95 91

### 32. Print all usernames (list) that start with the letter 'a'.

In [16]:
# solution-1

usernames = [
    'ali_haq',
    'john2',
    'yakub1988',
    'albi_bhai',
    'anis2025'
]

for name in usernames:
    if name[0].lower() == 'a':
        print(name)

ali_haq
albi_bhai
anis2025

In [22]:
# solution-2

print([name for name in usernames if name.lower().startswith('a')])

['ali_haq', 'albi_bhai', 'anis2025']

### 33. Find the longest word in a sentence.

In [85]:
# solution 1

sent = 'Ami r tumi eksathe school e jabo'

word_lst = sent.split()

longest_word = ''
word_length = 0

for word in word_lst:
    if len(word) > word_length:
        longest_word = word
        word_length = len(longest_word)
print(longest_word)

eksathe

In [87]:
# solution 2

sent = 'Ami r tumi eksathe school e jabo'

longest_word = max(sent.split(), key=len)

longest_word

'eksathe'

### 34. Print all words longer than 4 letters from a paragraph.

In [90]:
para = 'The morning sun warmed the quiet streets. Birds chirped as the town slowly came to life.'

for word in para.split():
    clean_word = word.strip('.')
    if len(clean_word) > 4:
        print(clean_word)

morning
warmed
quiet
streets
Birds
chirped
slowly

### 35. Count how many files end with '.py' in a given list.

In [95]:
files = ['variables.py', 'if-else-statement.py', 'for-loop.java', 'while-loop.ipynb', 'nested-loop.py']

count = 0 

for file in files:
    if file.endswith('.py'):
        count += 1

print(count)

3

### 36. Given a list of prices, find the total after 10% tax.

In [2]:
# solution 1

price_list = [15, 27, 105, 30, 75, 10]

total = sum(price_list) * 1.1

print(f'Total: ${total:.2f}')

Total: $288.20

In [6]:
# solution 2

price_list = [15, 27, 105, 30, 75, 10]

sum_of_list = 0

for item in price_list:
    sum_of_list += item

total = sum_of_list * 1.1

print(f'Total: ${total:.2f}')

Total: $288.20

### 37. Simulate a loading progress bar using loop and time.sleep().

In [ ]:
# this solution is made with the help of DeepSeek

import time

def show_progress_bar(duration, resolution):
    for i in range(resolution + 1):
        progress = i * (100 / resolution)
        bar =  'â–‡' * i + ' ' * (resolution - i)
        print(f"\rLoading: {bar} {progress:.0f}%", end='', flush=True)
        time.sleep(duration / resolution)
    print()

show_progress_bar(duration=3, resolution=30)

Loading: â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡â–‡ 100%

### 38. From a nested dictionary of items, print items with quantity > 10.

In [33]:
product_quantity = {
    'Apple' : 8,
    'Banana' : 15,
    'Cake' : 2,
    'Donate' : 20,
    'Egg' : 24
}

for item, quantity in product_quantity.items():
    if quantity > 10:
        print(item)

Banana
Donate
Egg

### 39. Print a calendar-like format for days 1-31 (7 days per row).

In [35]:

for day in range(1, 32):
    print(f'{day:2}', end=' ')
    if day % 7 == 0:
        print('')

 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

### 40. Generate a simple password with alternating letters and numbers.

In [ ]:
# this solution is made with the help of DeepSeek

import random

small_primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

def generate_password(length):
    letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
    numbers = '0123456789'
    password = []

    prime_letter = random.choice(small_primes)
    prime_number = random.choice(small_primes)
    
    for i in range(length):
        if i % 2 == 0:
            password.append(letters[(i * prime_letter) % len(letters)])
        else:
            password.append(numbers[(i * prime_number) % len(numbers)])
    return ''.join(password)

print(generate_password(8))

a9w7S5o3

### 41. Find prime numbers between 1 and 100.

In [43]:
def find_prime_num(s, e):
    for n in range(s, e+1):
        if n < 2 or (n % 2 == 0 and n != 2):
            isPrime = False
        elif n == 2:
            isPrime = True
        else:
            isPrime = True
            for i in range(2, int(n ** 0.5) + 1):
                if n % i == 0:
                    isPrime = False
        if isPrime:
            print(n, end=' ')
find_prime_num(1, 100)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

### 42. Check if a number is a palindrome using a loop.

In [ ]:
# solution-1 (using loop)

num = 1357531
original = num
reversed_num = 0

while num > 0:
    reversed_num = reversed_num * 10 + num % 10
    num = num // 10

if reversed_num == original:
    print(f'{original} is a palindrome!')
else:
    print(f'{original} is not a palindrome!')

1357531 is a palindrome!

In [8]:
# solution-2 (using slice)

num = 1357531

if str(num) == str(num)[::-1]:
    print(f'{num} is a palindrome!')
else:
    print(f'{num} is not a palindrome!')

1357531 is a palindrome!

### 43. Print the first 10 perfect squares using a loop.

In [1]:
for i in range(1, 11):
    print(i*i, end=' ')

1 4 9 16 25 36 49 64 81 100

### 44. Create a number pyramid of height 5.

In [19]:
height = 5
for i in range(1, height +  1):
    print(' ' * (height - i) + f'{i}' * (2*i - 1))

    1
   222
  33333
 4444444
555555555

### 45. Rotate elements in a list to the right by 1 (in-place).

In [21]:
my_lst = [1, 3, 5, 7, 9, 11, 13]

def roate_list(lst):
    if len(my_lst) > 1:
        last_item = lst.pop()
        lst.insert(0, last_item)
roate_list(my_lst)
my_lst

[13, 1, 3, 5, 7, 9, 11]

### 46. Convert a decimal number to binary using a loop.

In [26]:
def covert_to_binary(decimal):
    if decimal == 0:
        return '0'
    binary = ''
    while decimal > 0:
        remainder = decimal % 2
        binary = str(remainder) + binary
        decimal = decimal // 2
    
    return binary

covert_to_binary(123)

'1111011'

### 47. Find common elements between two lists using loops.

In [20]:
lst_1 = [5, 2, 9, 6, 8]
lst_2 = [3, 9, 1, 5, 7]

for i in lst_1:
    if i in lst_2:
        print(i, end=' ')

5 9

### 48. Remove duplicates from a list using loops.

In [29]:
lst = [1, 3, 5, 1, 7, 5, 9]
unique_list = []

for item in lst:
    if item not in unique_list:
        unique_list.append(item)

print(unique_list)

[1, 3, 5, 7, 9]

### 49. Count frequency of each character in a string using loop.

In [ ]:
# this solution is made with the help of DeepSeek

text = 'Hello World'

freq = {}

for char in text.lower():
    if char == ' ':
        continue
    freq[char] = freq.get(char, 0) + 1

print(freq)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

### 50. Simulate a basic ATM system: check balance, deposit, withdraw.

In [43]:
account_balance = 0

def check_balance():
    print(f'You account balance is: ${account_balance:.2f} \n')

def deposit(amount):
    global account_balance
    if amount > 0:
        account_balance += amount
        print(f"Deposited: ${amount:.2f}")
        check_balance()
    else:
        print("Invalid amount. Deposit failed.")

def withdraw(amount):
    global account_balance
    if amount > 0:
        if  account_balance >= amount:
            account_balance -= amount
            print(f"Withdrawn: ${amount:.2f}")
            check_balance()
        else:
            print("Insufficient funds.")
    else:
        print("Invalid amount. Withdrawal failed.")

check_balance()

deposit(10000)

withdraw(500)

You account balance is: $0.00

Deposited: $10000.00
You account balance is: $10000.00

Withdrawn: $500.00
You account balance is: $9500.00