# Python Tuples Practice

This notebook includes **20 exercises** to help me master working with **Python Tuples**.

ðŸ”¹ This notebook (only problems) was generated by ChatGPT.

ðŸ”¹ The problems were solved through my own efforts.



---

### 1. Create a tuple with numbers from 1 to 5.

In [2]:
tpl = tuple(range(1, 6))
print(tpl)

(1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [5]:
print(tpl[2])

3

### 3. Slice a tuple from index 1 to 3.

In [6]:

print(tpl[1:4])

(2, 3, 4)

### 4. Check if the number 10 is present in a tuple.

In [7]:
print(10 in tpl)

False

### 5. Concatenate two tuples: (1, 2, 3) and (4, 5, 6).

In [10]:
tpl_1 = 1, 2, 3
tpl_2 = 4, 5, 6

concatenated_tpl = tpl_1 + tpl_2

print(concatenated_tpl)

(1, 2, 3, 4, 5, 6)

### 6. Repeat a tuple (1, 2) three times.

In [11]:

tpl = 1, 2

print( tpl * 3)

(1, 2, 1, 2, 1, 2)

### 7. Find the length of a tuple.

In [12]:

tpl = (1, 3, 5, 7, 9)

print(len(tpl))

5

### 8. Find the maximum and minimum values in a tuple of numbers.

In [16]:

tpl = (13, 7, 63, 29, 75, 3, 87, 55, 93, 88, 5, 4)

print(f"Maximum value: {max(tpl)}")
print(f"Minimum value: {min(tpl)}")

Maximum value: 93
Minimum value: 3

### 9. Convert a list [1, 2, 3] into a tuple.

In [17]:
lst = [1, 2, 3]

tpl = tuple(lst)

print(tpl)

(1, 2, 3)

### 10. Count how many times an element appears in a tuple.

In [18]:

tpl = 1, 5, 3, 5, 1, 9, 5, 7, 3, 5

tpl.count(5)

4

### 11. Get the index of the first occurrence of an element.

In [19]:

tpl.index(5)

1

### 12. Unpack a tuple into separate variables.

In [20]:

tpl = (1, 2, 3)

a, b, c = tpl

print(a)
print(b)
print(c)

1
2
3

### 13. Swap two variables using tuple unpacking.

In [21]:

a = 12
b = 6

a, b = b, a

print(a)
print(b)

6
12

### 14. Use a tuple as a key in a dictionary.

In [23]:

my_dict = {
    ('Mohammad', 'Alam')    : 25,
    ('John', 'Wick')        : 32,
    ('Harry', 'Potter')     : 28
}


print(my_dict[('John', 'Wick')])
print(my_dict[('Mohammad', 'Alam')])

32
25

### 15. Iterate over a tuple and print each element.

In [27]:
colors = 'Black', 'Red', 'Blue', 'White', 'Green'

for color in colors:
    print(color)

Black
Red
Blue
White
Green

### 16. Convert a string into a tuple of characters.

In [48]:

text = 'Pythonism'

tpl = tuple(text)

print(tpl)

('P', 'y', 't', 'h', 'o', 'n', 'i', 's', 'm')

### 17. Check if a tuple is empty.

In [50]:
# Solution-1
tpl = ()
is_empty = not tpl
print(is_empty)

True

In [52]:
# Solution-2
tpl = (1,)
print(len(tpl) == 0)

False

### 18. Write a function that accepts a tuple of numbers and returns the sum.

In [54]:

def sum_of_num(tpl):
    total = 0
    for num in tpl:
        total += num
    return total

my_tpl = (25, 12, 54, 32)
sum_of_num(my_tpl)

123

### 19. From a tuple of strings, return the longest one.

In [55]:
# Solution-1
texts = ("Bangladesh", "United Sates", "Germany", "United Kingdom", "Canada", "United Arab Emirates")

longest_str = ""

for text in texts:
    if len(text) > len(longest_str):
        longest_str = text
print(longest_str)

United Arab Emirates

In [57]:
# Solution-2
texts = ("Bangladesh", "United Sates", "Germany", "United Kingdom", "Canada", "United Arab Emirates")

longest_str = max(texts, key=len)
print(longest_str)

United Arab Emirates

### 20. Given a tuple of (name, age) pairs, return a list of names where age > 25.

In [47]:
people = (("Mohammad", 25), ("John", 36), ("Rakib", 22), ("Ahmed", 26), ("Rajib", 33))

name_list = [person[0] for person in people if person[1] > 25]

print(name_list)

['John', 'Ahmed', 'Rajib']