# Python Tuples Practice

This notebook includes **20 exercises** to help me master working with **Python Tuples**.

ðŸ”¹ This notebook (only problems) was generated by ChatGPT.

ðŸ”¹ The problems were solved through my own efforts.



---

### 1. Create a tuple with numbers from 1 to 5.

### 2. Access the third element of a tuple.

### 3. Slice a tuple from index 1 to 3.

### 4. Check if the number 10 is present in a tuple.

### 5. Concatenate two tuples: (1, 2, 3) and (4, 5, 6).

### 6. Repeat a tuple (1, 2) three times.

### 7. Find the length of a tuple.

### 8. Find the maximum and minimum values in a tuple of numbers.

### 9. Convert a list [1, 2, 3] into a tuple.

### 10. Count how many times an element appears in a tuple.

### 11. Get the index of the first occurrence of an element.

### 12. Unpack a tuple into separate variables.

### 13. Swap two variables using tuple unpacking.

### 14. Use a tuple as a key in a dictionary.

### 15. Iterate over a tuple and print each element.

### 16. Convert a string into a tuple of characters.

### 17. Check if a tuple is empty.

### 18. Write a function that accepts a tuple of numbers and returns the sum.

### 19. From a tuple of strings, return the longest one.

### 20. Given a tuple of (name, age) pairs, return a list of names where age > 25.